@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Lobster&family=Montserrat&family=Pixelify+Sans&family=Source+Code+Pro&display=swap');

* {
    margin : 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/*Header*/

    header {
        margin-top: 1em;
        position: relative;
        width: 100%;
        margin-bottom: 5em;
    }
    #flex_header {
        display : flex;
        justify-content: space-between;
        margin-right: 1.5em;
        margin-left: 1.5em;
    }

    a {
        text-decoration: none;
    }
    #jb_name {
        color : "#331a99";
        margin-top: 0.5em;
    }

    #flex_login {
        display: flex;
        gap : 3em;
    }
    #login {
        margin-top: 3.5em;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
        border-radius: 25px;
        padding: 1em; 
        background-color: white;
        box-shadow: grey 1px 1px 2px;
        height: 15%;
    }
    #login:hover {
        background-color: aliceblue;
    }
    #inscription {
        margin-top: 3.5em;
        color: white;
        background-color: #00acee ;
        padding: 1em;
        box-shadow: grey 1px 1px 2px;
        border-radius: 1em;
        height: 15%;
    }
    #inscription:hover {
        opacity: 50%;
    }
    
    #img_header {
        width : 100%;
    }

    #acceuil {
        position: absolute;
        top: 36vh;
        left: 32%;
        color: white;
        font-size: 3vw;
        width: 50%;
        font-family:'Times New Roman', Times, serif;
    }

    #flex_header_form {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 35.5em;
        left: 13%;
        width: 80%;
        height: 25%;
    }
    #searchbar_left {
        border-right-style: dotted; 
        border-color: transparent;
        border-right-color: black; 
        border-radius: 2em 0em 0em 2em;
        padding-left: 1.5em;
        font-size: 1.5vw;
        box-shadow: grey 1px 1px 2px;
        width: 35%;
        height: 40%;
    }
    #searchbar_right {
        border-color: transparent;
        border-radius: 0em 2em 2em 0em;
        padding-left: 1.5em;
        font-size: 1.5vw;
        box-shadow: grey 1px 1px 2px;
        width: 35%;
        height: 40%;
    }
    #searchbar_search {
        border-radius: 25em;
        margin-left: 1em;
        background-color: #00acee ;
        height: 5vw;
        width: 5vw;
    }
    #searchbar_search:hover {
        background-color:cornflowerblue;
    }

/*Annonce list*/

#flex_annonce {
    display: flex;
    flex-wrap: wrap;
}
.case {
    width: 30em;
    margin-left:6em;
    margin-bottom: 5em;
    border-radius: 15px;
    border-width: 1px;
    box-shadow: grey 1px 1px 2px 1px;
}
.case:hover {
    opacity: 75%;
}
.annonce_img {
    width: 30em;
    height: 20em;
    border-radius: 15px 15px 0px 0px;
}
.titre_section {
    margin-top: 3em;
    margin-left: 4em;
    margin-bottom: 1.5em;
}
.titre_annonce {
    text-decoration: underline;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-top: 0.5em;
}
.flex_condition {
    display: flex;
}
.condition {
    margin-left: 1.5em;
    margin-bottom: 1em;
}
#navlink_annonce {
    color: black;
}

/*Middle*/

#middle_body {
    margin-top: 5em;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    box-shadow: grey 0 0 5px;
    border-radius: 25px;
    margin-left: 35vw;
    width : 20%;
    height: 10em;
}
#phrase_choix {
    margin-bottom: 3em;
    font-size: 1.1em;
    margin-left: 1em;
}
#flex_middle {
    display: flex;
    gap : 4em;
}
.choix {
    color: white;
    background-color: #00acee ;
    padding: 1em;
    box-shadow: grey 1px 1px 2px;
    border-radius: 1em;
    height: 35%;
    width: 85%;
}

/*Page de Login*/

#login_body {
    margin-top: 5em;
    padding-top: 3em;
    padding-left: 5em;
    padding-right: 5em;
    box-shadow: grey 0 0 5px;
    border-radius: 1em;
    margin-left: 25vw;
    width : 40%;
    height: 35em;
}
#flex_form {
    display: flex;
    flex-direction: column;
    gap : 5em;
}
.flex_form_login {
    display: flex;
    flex-direction: column;
    gap : 1em;
    margin-left: 30%;
}
.form_login {
    border-radius: 5px;
    width: 50%;
    padding: 0.5em;
}
#recup_mdp {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
#form_submit {
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 1em; 
    background-color: white;
    box-shadow: grey 1px 1px 2px;
    width: 25%;
    margin-left: 15vw;
}
#form_submit:hover {
    background-color: aliceblue;
}

/*Page d'Inscription*/

#inscription_body {
    margin-top: 5em;
    padding-top: 3em;
    padding-left: 5em;
    padding-right: 5em;
    box-shadow: grey 0 0 5px;
    border-radius: 25px;
    margin-left: 25vw;
    width : 40%;
    height: 56em;
}
#inscriptionr_body {
    margin-top: 5em;
    padding-top: 3em;
    padding-left: 5em;
    padding-right: 5em;
    box-shadow: grey 0 0 5px;
    border-radius: 25px;
    margin-left: 25vw;
    width : 40%;
    height: 38em;
}
#flex_form_inscription {
    display: flex;
    flex-direction: column;
    gap : 3em;
}
#inscription_disclaim {
    color: gray;
    margin-left: 14.5vw;
    font-size: 0.8em;
}
#flex_form_nomprenom {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
}
.flex_form_nom {
    display: flex;
    flex-direction: column;
}
.form_nom {
    border-radius: 5px;
    padding: 0.5em;
}
.form_base {
    border-radius: 5px;
    width: 50%;
    padding: 0.5em;
}
.flex_form_base {
    display: flex;
    flex-direction: column;
    gap : 1em; 
}
#form_sinscrire {
    color: white;
    background-color: #00acee ;
    padding: 1em;
    box-shadow: grey 1px 1px 2px;
    border-radius: 1em;
    width: 25%;
    margin-left: 15vw;
}
#form_sinscrire:hover {
    opacity: 50%;
}
#flex_form_handicap {
    display: flex;
    gap: 3em;
    margin-top: 1.5em;
}

/*Profil*/

.body_profil {
    margin-top: 5em;
    padding-top: 3em;
    padding-left: 5em;
    padding-right: 5em;
    box-shadow: grey 0 0 5px;
    border-radius: 1em;
    margin-left: 17vw;
    width : 60%;
    height: 35em;
}
.role_utilisateur {
    margin-top: 0.5em;
    margin-bottom: 2em;
    text-decoration: underline;
}
.info_profil {
    margin-bottom: 1em;
}
.encart {
    font-weight:900;
}
.option_bouton {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 25px;
    padding: 1em; 
    background-color: white;
    box-shadow: grey 1px 1px 2px;
}
.flex_boutons {
    display: flex;
    gap: 3em;
    justify-content: center;
    margin-top: 5em;
}

/*Annonce_type*/

#case_annonce{
    margin-top: 5em;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 15px;
    height: 24vw;
    display: flex;
    box-shadow: grey 1px 1px 2px 1px;
}
.flex_annonce {
    display: flex;
}
.sous_titre_annonce {
    margin-top: 1.5em;
    margin-left: 1em;
    text-decoration: underline;
}
.contenu_annonce {
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 2em;
}
#bouton_annonce {
    color: white;
    background-color: #00acee ;
    padding: 1em;
    padding-left: 3em;
    box-shadow: grey 1px 1px 2px;
    border-radius: 1em;
    width: 5vw;
    margin-left: 32vw;
}
#bouton_annonce:hover {
    opacity: 50%;
}

/*Creer annonce*/

#creannonce_body {
    margin-top: 5em;
    padding-top: 3em;
    padding-left: 5em;
    padding-right: 5em;
    box-shadow: grey 0 0 5px;
    border-radius: 25px;
    margin-left: 25vw;
    width : 40%;
    height: 61em;
}
.creannonce_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}
#flex_localisation {
    display: flex;
    justify-content: space-between;
}
#creannonce_bouton {
    margin-left: 15.5vw;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 25px;
    padding: 1em; 
    background-color: white;
    box-shadow: grey 1px 1px 2px;
}

/*Postul*/

#body_postul {
    margin-top: 5em;
    padding-top: 3em;
    padding-left: 5em;
    padding-right: 5em;
    box-shadow: grey 0 0 5px;
    border-radius: 1em;
    margin-left: 25vw;
    width : 40%;
    height: 36em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

/*Footer*/

#footer_body {
    background-color: #00acee ;
    margin-top: 5em;
    height: 12em;
    width: 100%;
    border-top: solid;
    border-top-style: double;
}

#footer_subtitle {
    color: white;
    margin-top: 1em;
    margin-left: 2em;
}

.footer_list {
    margin-top: 1.5em;
    list-style-type: none;
}
.footer_hyper {
    color: black;
}
#footer_img {
    margin-top: 1em;
    width: 70px;
    height: 70px;
}
#footer_flex {
    display: flex;
    gap: 1em;
}

/*Admin*/

#boutons_admin {
    margin-top: 10em;
    display: flex;
    justify-content: space-between;
}
.case_liste_admin {
    padding: 1em;
    width: 30em;
    margin-left:6em;
    margin-bottom: 5em;
    border-radius: 15px;
    border-width: 1px;
    box-shadow: grey 1px 1px 2px 1px;
}
.flex_modif_suppr {
    display: flex;
    margin-left: 18em;
    gap: 1.5em;
}